<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Updates</li>
  </ol>
</nav>

<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de Updates</h5>
    <div class="form-group col-md-4">
      <input class="form-control" type="text" Alias="search" [(ngModel)]="filter"  placeholder="Pesquisar"/>
    </div>
    <div class="card-body">
      <table class="table">
           <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Alias</th>
              <th scope="col">DocumentTitle</th>
              <th scope="col">Severity</th>
              <th scope="col">InitialReleaseDate</th>
              <th scope="col">CurrentReleaseDate</th>
              <th scope="col">CvrfUrl</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let update of updates | filter:filter;">
              <td>{{update.id}}</td>
              <td>{{update.alias}}</td>
              <td>{{update.documentTitle}}</td>
              <td>{{update.severity || 'Nulo' }}</td>
              <td>{{update.initialReleaseDate }}</td>
              <td>{{update.currentReleaseDate }}</td>
              <td>{{update.cvrfUrl }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>



 <!-- <mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let update"> {{update.ID}} </td>
  </ng-container>

  <ng-container matColumnDef="Alias">
    <th mat-header-cell *matHeaderCellDef> Alias </th>
    <td mat-cell *matCellDef="let update"> {{update.Alias}} </td>
  </ng-container>

  <ng-container matColumnDef="DocumentTitle">
    <th mat-header-cell *matHeaderCellDef> DocumentTitle </th>
    <td mat-cell *matCellDef="let update"> {{update.DocumentTitle}} </td>
  </ng-container>


  <ng-container matColumnDef="Severity">
    <th mat-header-cell *matHeaderCellDef> Severity </th>
    <td mat-cell *matCellDef="let update"> {{update.Severity}} </td>
  </ng-container>


    <ng-container matColumnDef="InitialReleaseDate">
      <th mat-header-cell *matHeaderCellDef> InitialReleaseDate </th>
      <td mat-cell *matCellDef="let update"> {{update.InitialReleaseDate}} </td>
    </ng-container>


    <ng-container matColumnDef="CurrentReleaseDate">
      <th mat-header-cell *matHeaderCellDef> CurrentReleaseDate </th>
      <td mat-cell *matCellDef="let update"> {{update.CurrentReleaseDate}} </td>
    </ng-container>


    <ng-container matColumnDef="CvrfUrl">
      <th mat-header-cell *matHeaderCellDef> CvrfUrl </th>
      <td mat-cell *matCellDef="let update"> {{update.CvrfUrl}} </td>
    </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table> -->
